@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Quicksand:wght@500&family=Raleway:wght@100&display=swap');


/*=======================MENU==============================================*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 255, 255, 0.753);
    overflow-x: hidden; 
    overflow-y: scroll;
}
.tela-inicio{
    animation: rotate 1s ease-out;
}
@keyframes rotate {
    0%{
        transform: rotateY(80deg) translateY(500px);
    }
    100%{
        transform: rotateY(0),translateY(0);
    }
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #fbfbfb;
    box-shadow: rgba(2, 90, 163, 0.897) 0px 3px 5px;
    position: fixed;
    top:0;
    border-radius: 5px;
    z-index: 100;
}
.menu-hamburger{
    display: none;
}
header{
    margin: auto;
    max-width: 980px;
    height: 20px;
}
nav{
    float: right;
}
nav ul{
    list-style: none;
    margin: 0;
    margin-top: 13px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-family:'Nunito', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-decoration: none;
    color: #009CFF;
    padding: 0 40px;
}
.logo{
    width: min-content;
    float: left;
    height: 50px;
    width: 55px;
}
#logo{
    text-align: center;
    width: 50px;
    height: 90%;
    margin-top: 2.3px;
    margin-bottom: 2.5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    background-color: #009CFF;
    border-radius: 30%;
    box-shadow: rgb(130, 213, 238) -2px 2px 3px ;
}
/*===================================SLIDE BAR======================================*/

.slidebar{
    margin: 0;
    height: 100vh;
    width: 100%;
}

    /*========BOLHAs FLUIDA===========*/
.fluid{
    transition: all 0.5s linear;
}
.svg{
    height: 100%;
    width: 100%;
}
.bolha-1{
    width: 20vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    right: 0;
}
.bolha-2{
    width: 15%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*========TRIANGULO FLUIDO===========*/
.triangulos{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triangulo1{
    background-color: #009CFF;
    width: 50px;
    height: 20px;
    position: absolute;
    top: 45%;
    left: 45%;
}
.triangulo2{
    background-color: #009CFF;
    width: 80px;
    height: 60px;
    position: absolute;
    top: 10%;
    left: 2%;
}
.quadrado{
    background-color: #009dff00;
    border: 5px #009CFF solid;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    right: 10%;
}
.foto{
    width: 25%;
    position: absolute;
    right: 25%;
    bottom: 28%;
    border-bottom: #009CFF 6px solid;
    border-radius: 1%;
}

.minha-foto{
    width: 100%;
    transform: translateY(3.5px);
    animation: pular 4s ease-in 2s infinite alternate-reverse;
}
@keyframes pular {
    0%{
        transform: translateY(3.5px);
    }
    30%{
        transform: translateY(-35px);
    }
    50%{
        transform: translateY(3.5px)
    }
    

}

    /*========TEXTOS==================*/

.textos-inicial{
    width: 40%;
    height: max-content;
    display: inline;
    padding-top: 15%;
    padding-left: 5%;
    float: left;
}
.textos-inicial h3{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    height: min-content;
}
.textos-inicial h1{
    font-family: 'Nunito', sans-serif;
    height: min-content;
    font-size: 4rem;
    text-align: left;
}
.textos-inicial h2{
    font-family: 'Quicksand', sans-serif; 
    height: min-content;
    text-align: left;
    line-height: 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
}
.textos-inicial h2::after{
    content: "|";
    margin-left: 2px;
    animation: piscar 0.7s 16 3s forwards;
}
@keyframes piscar {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.conhecimentos{
    
}

/*==================RESPONSIVIDADE==================*/

@media screen and (max-width: 640px) {
    .header nav ul{
        display: none;  
    }
    .header{
        width: 100vw;
    }
    .menu{
        width: 100vw;
    }
    .menu-hamburger{
        display: block;
        position: relative;
        width: min-content;
        height: 35px;
        top: 5px;
        right: 8px;
        margin: 0;
    }
    .slidebar{
        height: max-content;
        width: 100vw;
    }
    .textos-inicial{
        padding-top: 30%;
        padding-left: 0;
        height: min-content;
        width: 100vw;
    }
    .textos-inicial h3{
        display: inline-block;
        text-align: center;
        width: 100%;  
    }
    .textos-inicial h1{
        padding: 5%;
        font-size: 2rem;
        text-align: center;
    }
    .textos-inicial h2{
        padding: 5%;
        text-align: center;
        font-size: 1.2rem;
    }
    .foto{
        position: relative;
        left: auto;
        right: auto;
        top: 30px;
        display: flex;
        width: 100vw;
        height: min-content;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    .minha-foto{
        width: 300px;
    }
    .formas{
        display: inline-block;
        opacity: 0.2;
        z-index: -1;
    }

    
}